
<div class="row">
  <div class="col-sm-6">
    <span class="btn btn-default btn-file"> Ajout Fichier
    <input type="file" ng-file-select="onFileSelect($files)">
      </span>
  </div>
<div class="col-sm-6 ">
  <div ng-show="dropSupported" class="drop-box"
       ng-file-drop="onFileSelect($files)"
       ng-file-drop-available="dropSupported=true"
       ng-file-drag-over-class="dragOverClass($event)"
       ng-file-drag-over-delay="100">
    Glissez/Déposez ici
  </div>
</div>
  <progressbar class="progress-striped active" ng-show="isUploading" max="200" value="dynamic" type="danger"><b>{{dynamic}}%</b></progressbar>
  </div>
  <br>
<ul class="list-group">
  <li ng-repeat="document in revenue.attachedDocuments" class="list-group-item">
  <a href="{{document.file.name}}" class="btn btn-large">
    <span class="fa fa-file-text-o fa-lg"></span> {{document.name}}
  </a>
    <span class="badge">{{document.file.extension }}</span>
    <a class="btn btn-primary" ng-click="deleteDocument(document)"><i class="fa fa-trash-o"></i></a>
  </li>
</ul>
 <div> {{message}}</div>
