$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';



/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  height: 85px;
  text-align: center;
  width: 100%;
  padding-top: 25px;
  margin-top: 20px;
}

.btn-file {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

img.background {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
.absolute-center {
  width: 50%;
  height: 60%;
  overflow: auto;
  margin: auto;
  position: absolute;
  min-width: 200px;
  max-width: 400px;

  top: 0; left: 0; bottom: 0; right: 0;
}

.btn-login{
  width: 100%;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.background {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'expenses/expenses.scss';
@import 'main/main.scss';
@import 'revenues/revenues.scss';
@import 'modal/modal.scss';
// endinjector


