
<div ng-controller="NavbarCtrl">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav nav">
      <li class="sidebar-brand"><img src="http://placehold.it/130x130" class="img-circle"></li>
      <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
        <a ng-href="{{item.link}}"><i class="fa fa-fw {{item.icon}}"></i> {{item.title}}</a>
      </li>
    </ul>
  </div>

  <script>
    $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

  <nav class="navbar navbar-default navbar-static-top">
    <ul class="nav navbar-nav">
      <li><a href="#menu-toggle" id="menu-toggle"><span class="fa fa-bars"></span>
      </a></li>
    </ul>
    <ul class="nav navbar-right navbar-nav">
      <li><a href="#">{{ getCurrentUser().name }}</a>
      </li>
      <li><a href="/settings"><i class="fa fa-gear fa-fw"></i> Settings</a>
      </li>

      <li><a href="/logout" ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
      </li>
    </ul>
  </nav>
</div>

