<div id="wrapper">
  <div ng-include="'components/navbar/navbar.html'"></div>
  <div id="page-content-wrapper">
    <div class="page-content">
      <div class="container-fluid">
        <ul class="breadcrumb">
          <li><a ui-sref="main">Dashboard</a></li>
          <li><a ui-sref="all expenses">Dépenses</a></li>
          <li class="active">Edition dépense : {{expense.title}}</li>
        </ul>
        <div class="row">
          <div class="col-md-6">
            <form class="form-horizontal" name="form" ng-submit="updateExpense()" novalidate>
              <div ng-include="'app/expenses/views/form.html'"></div>
            </form>
          </div>
          <div class="col-md-6">
            <div ng-include="'app/expenses/views/attachedDocuments.html'"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
